body {
    padding: 0;
    margin: 0;
}

.center {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100%; Adjust as needed */
}

.title {
    text-align: center;
}

.button {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
}